.phonem-board {
    width: 300px;
    height: 300px;
    border: 2px solid #3498db;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: left;
  }