@font-face {
    font-family: 'MuseoSans500';
    src: url('../../fonts/LexendDeca-VariableFont_wght.ttf') format('opentype');
}

.logo {
    width: 50px;
    height: auto;
    cursor: pointer;
    animation: rotateLogo 20s linear infinite; /* Rotate continuously over 5 seconds, adjust as needed */
}

/*
@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
*/

.appbar-container {
    display: flex;
    flex-direction: row;
    background-color: transparent !important;
    box-shadow: none !important;
}

.logo-title {
    color: #000000;
    font-family: 'MuseoSans500', sans-serif;
    font-size: 2rem;
}

.transparent {
    background-color: transparent !important;
}

.divider {
    flex-grow: 1;
}

.button-text {
    font-family: 'LexendDeca', sans-serif;
}