@font-face {
    font-family: 'MuseoSans500';
    src: url('../../fonts/MuseoSans_500.otf') format('opentype');
}

.logo {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.appbar-container {
    display: flex;
    flex-direction: row;
    background-color: transparent !important;
    box-shadow: none !important;
}

.logo-title {
    color: #000000;
    font-family: 'MuseoSans500', sans-serif;
    font-size: 2rem;
}

.transparent {
    background-color: transparent !important;
}


.divider {
    flex-grow: 1;
}
