.home {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #e3e3e3, #49654a);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 100px;
  position: relative;
  animation: floatAnimation 3s infinite alternate; /* Adjust the duration and other properties as needed */
}

@keyframes floatAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px); /* Adjust the distance the text floats */
  }
}
